<div class="landing-cont">
  <div class="landing-fixed-background">
    <%= cl_image_tag("iiii3mk901wo5o2zdq50") %>
  </div>
  <div class="landing-scroll">
    <div class="title-cont">
      <div class="title-ban">
        <%= "#{Event.last.name}" %>
        <%#= cl_image_tag("bsbddzrt2ebbtbgqx19e") %>
      </div>
      <div class="next-sign">
        <%= cl_image_tag("uniao8qujoldca1modjl") %>
      </div>
    </div>
    <div class="invit-cont">
      <div class="invitation-img">
        <div class="background_dark_small"></div>
        <%= cl_image_tag("jtkpdldjw4m6k178onsp") %>
      </div>

      <div class="invit-txt-top-left">
        <%= "#{Event.last.first_host_title}" %><br><%= "#{Event.last.first_host_name}" %>
      </div>

      <div class="invit-txt-top-right">
        <%= "#{Event.last.second_host_title}" %><br><%= "#{Event.last.second_host_name}" %>
      </div>

      <div class="invit-txt-top-centre">
        <%= "#{Event.last.invitation_sentence}" %>
      </div>

      <div class="invit-name-left">
        <div class="first-letter"><%= "#{Event.last.first_child_initials.upcase}" %></div><%= "#{Event.last.first_child_display_name.upcase}" %>
      </div>

      <div class="invit-logo">
        <%= cl_image_tag("wksq9cknjnfegkbgmbec") %>
      </div>

      <div class="invit-name-right">
        <div class="first-letter"><%= "#{Event.last.second_child_initials.upcase}" %></div><%= "#{Event.last.second_child_display_name.upcase}" %>
      </div>

      <div class="invit-date">
        <%= "#{Event.last.date}" %>
      </div>

      <div class="invit-bottom-left">
        Dress code :
        <br><%= "#{Event.last.info}" %>
      </div>

      <div class="invit-bottom-centre">
        RSVP avant le <%= "#{Event.last.response_deadline}" %>
        <br>Diner à <%= "#{Event.last.diner_time}" %> heures précises
      </div>

      <div class="invit-bottom-right">
        GSM du jour:
        <br><a href="tel:+320495443578">Claire, Maman de Clémence: <strong><%= "#{Event.last.phone_info}" %></strong></a>
      </div>

      <div class="localisation-text">
        LOCALISATION
        <br>_______________________________
        <br>
        <%= "#{Event.last.location}" %>
        <br>
        <div class="event_address_small">
          <%= link_to "#{Event.last.address}", event_path(Event.last) %> <br>
          GPS : route de la Bruyère <br>
          (± 40 min. de Bruxelles) <br>
          E411 Bruxelles-Namur, <br>
          sortie 12 Eghezée. <br>
          Suivre Eghezée pendant 1.5 km <br>
          sur la route de la Bruyère (N912). <br><br>
        </div>

        <div class="event_address_big">
          <%= "#{Event.last.address}" %> <br>
          GPS : route de la Bruyère (± 40 min. de Bruxelles) <br><br>
          E411 Bruxelles-Namur, sortie 12 Eghezée. <br>
          Suivre Eghezée pendant 1.5 km
          sur la route de la Bruyère (N912). <br><br>
        </div>

        <%= "#{Event.last.rally_name}" %>
      </div>

      <div class="localisation-map">
        <div id="map"
             style="width: 42vw; height: 34vh; border-radius: 5px;"
             data-markers="<%= @markers.to_json %>"
             data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>

      <div class="response-cont">
        <div class="btn response-btn">
          <%= link_to "Répondre à l'invitation",  new_reponse_path %>
        </div>
      </div>
    </div>
    <div class="footer-land">
      <div class="footer">
    <p> © 2021
      <a href="https://www.linkedin.com/in/lazar-istvan/" target="_blank">István Lázár</a>
       &
      <a href="https://www.linkedin.com/in/gauthier-wolters-406ba0142/" target="_blank">Gauthier Wolters</a>
    </p>
  </div>
    </div>
  </div>
</div>
