<div class="landing-cont">
  <div class="landing-fixed-background">
    <%= cl_image_tag("ba8gmupraokuj40knyst") %>
  </div>
  <div class="landing-scroll">
    <div class="title-cont">
      <div class="title-ban">
        <%= "#{Event.last.name}" %>
        <%#= cl_image_tag("bsbddzrt2ebbtbgqx19e") %>
      </div>
      <div class="next-sign">
        <%= cl_image_tag("uniao8qujoldca1modjl") %>
      </div>
    </div>
    <div class="invit-cont">
      <div class="invitation-img">
        <%= cl_image_tag("nrkgbrxhvbqobstcrw64") %>
      </div>

      <div class="invit-txt-top-left">
        <%= "#{Event.last.first_host_title}" %><br><%= "#{Event.last.first_host_name}" %>
      </div>

      <div class="invit-txt-top-right">
        <%= "#{Event.last.second_host_title}" %><br><%= "#{Event.last.second_host_name}" %>
      </div>

      <div class="invit-txt-top-centre">
        <%= "#{Event.last.invitation_sentence}" %>
      </div>

      <div class="invit-name-left">
        <div class="first-letter"><%= "#{Event.last.first_child_initials.upcase}" %></div><%= "#{Event.last.first_child_display_name.upcase}" %>
      </div>

      <div class="invit-logo">
        <%= cl_image_tag("o4tyvisosd6ojygbs4r3") %>
      </div>

      <div class="invit-name-right">
        <div class="first-letter"><%= "#{Event.last.second_child_initials.upcase}" %></div><%= "#{Event.last.second_child_display_name.upcase}" %>
      </div>

      <div class="invit-date">
        <%= "#{Event.last.date}" %>
      </div>

      <div class="invit-bottom-left">
        Dress code :
        <br><%= "#{Event.last.info}" %>
      </div>

      <div class="invit-bottom-centre">
        RSVP avant le <%= "#{Event.last.response_deadline}" %>
        <br>Diner à <%= "#{Event.last.diner_time}" %> heures précises
      </div>

      <div class="invit-bottom-right">
        GSM du jour:
        <br><%= "#{Event.last.phone_info}" %>
          <!-- <br>via
          <br>www.site-de-Gauthier.be -->
      </div>

      <div class="localisation-text">
        LOCALISATION
        <br>_______________________________
        <br>
        <%= "#{Event.last.location}" %>
        <br>
        <div class="event_address_small">
          <%= link_to "#{Event.last.address}", event_path(Event.last) %>
        </div>

        <div class="event_address_big">
          <%= "#{Event.last.address}" %>
        </div>

        <%= "#{Event.last.rally_name}" %>
      </div>

      <div class="localisation-map">
        <div id="map"
             style="width: 42vw; height: 34vh; border-radius: 5px;"
             data-markers="<%= @markers.to_json %>"
             data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>

      <div class="response-cont">
        <div class="btn response-btn">
          <%= link_to "Répondre à l'invitation",  new_reponse_path %>
        </div>
      </div>
    </div>
    <div class="footer-land">
      Copyright © 2020 István Lázár & Gauthier Wolters <br>
      All rights reserved.
    </div>
  </div>
</div>
