<div class="lift-cont">
  <div class="lift-bg">
    <%= cl_image_tag("sg9i5gxlqrjbdvxwgbr2") %>
  </div>
  <div class="lift-subcont">
    <div class="bob-new" id="reponse-new">
      <div class="container">
        <h5><strong>RÉPONSE</strong></h5>
        <div class="reponse_title">
          <strong>! Prenez en compte la règlementation <%= link_to "COVID", covid_path %> ! </strong><br>
          <small>Une confirmation vous sera envoyé par mail.</small>
        </div>
        <br>
        <div class="reponse_title_small">
          <strong>! Prenez en compte la <br> règlementation <%= link_to "COVID", covid_path %> ! </strong><br>
          <small>Une confirmation vous sera <br> envoyé par mail.</small>
        </div>
        <br>
        <form action="/reponses" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div class="form-row">
            <div class="form-group form_inputs col-sm-6">
              <label for="first_name">PRÉNOM *</label>
              <input type="text" name="reponse[first_name]" class="form-control form-control-lg"
                     id="first_name" placeholder="Clémence" autofocus="true" required>
            </div>
            <div class="form-group form_inputs col-sm-6">
              <label for="family_name">NOM DE FAMILLE *</label>
              <input type="text" name="reponse[family_name]" class="form-control form-control-lg"
                     id="family_name" placeholder="t'Kint de Roodenbeke" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group form_inputs col-12" id="checkbox_row">
               <input type="checkbox" id="participation_true" name="reponse[participation]" value="true">
                <label for="participation_true"><span></span>Je serai présent <font size="5">🎉</font></label>
                <p>
               <input type="checkbox" id="participation_false" name="reponse[participation]" value="false">
                <label for="participation_false"><span></span>Je ne pourrai pas assister <font size="5">😔</font></label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group form_inputs col-12" id="checkbox_row">
               <input type="checkbox" id="vegetarian" name="reponse[vegetarian]">
                <label for="vegetarian"><span></span>Végétarien(ne)</label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group form_inputs col-12" id="checkbox_row">
               <input type="checkbox" id="covid" name="reponse[covid]">
                <label for="covid"><span></span>J'ai bien pris connaissance de la <div class="hide_small"><br></div> règlementation COVID.</label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group form_inputs col-lg-12">
              <label for="contact">ADRESSE MAIL *</label>
              <input type="text" name="reponse[contact]" class="form-control form-control-lg"
                     id="contact" placeholder="email" required>
            </div>
          </div>
          <div class="form-center">
            <div class="form-group form_inputs col-lg-12">
              <label for="message">MESSAGE</label>
              <textarea class="form-control" name="reponse[message]" id="message-reponse" rows="5" placeholder="Un message serait fortement apprécié."></textarea>
            </div>
          </div>
          <div class="form-row mt-3">
            <div class="col-12">
              <button type="submit" class="btn btn-lift">ENVOYER</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<% if Date.today >= Date.new(2021,10,10) %>
Désolé, nous n'acceptons plus de réponses à ce jour.

<%end%>
<%= render 'shared/footer' %>

