<div class="dc-cont">
  <div class="dc-top-cont">
    <div class="dc-bg1">
      <%= cl_image_tag("hyoooikncd4yyots51ke") %>
    </div>
    <div class="dc-intro">
      <div class="dc-title"><h1>TOUCHE - DRESS CODE</h1></div>
      <div class="dc-sub-title"><br><%= Event.last.name.upcase %></div>
    </div>
  </div>
  <div class="dc-bg2">
    <%= cl_image_tag("nrkgbrxhvbqobstcrw64") %>
  </div>
  <div class="dc-chart">
    <div class="dc-chart-title"><h2>INSPIRATIONS</h2></div>
    <div class="constellation">
      <div class="product_grid">

        <div class="product_card" id="1">
          <%= cl_image_tag("a2w4yckgmpcrsobocvcs") %>
        </div>

        <div class="product_card" id="2">
          <%= cl_image_tag("ggwhf3vxig6j60twiach") %>
        </div>

        <div class="product_card" id="3">
          <%= cl_image_tag("z2v2oqnw4mxrpttrzqag") %>
        </div>

        <div class="product_card" id="4">
          <%= cl_image_tag("hyoooikncd4yyots51ke") %>
        </div>

        <div class="product_card" id="5">
          <%= cl_image_tag("i1hsah7ziby4x4mu0gkc") %>
        </div>

        <div class="product_card" id="6">
          <%= cl_image_tag("n6808baefywow3ysbija") %>
        </div>

        <div class="product_card" id="7">
          <%= cl_image_tag("d3ibbemsdaknltfzhafb") %>
        </div>

        <div class="product_card" id="8">
          <%= cl_image_tag("lkn6ist563g06fud3zqc") %>
        </div>

        <div class="product_card" id="9">
          <%= cl_image_tag("xwdm7lfjazzbplpd3jdc") %>
        </div>

        <div class="product_card" id="10">
          <%= cl_image_tag("xaq5zkhgnjijud4ehjj0") %>
        </div>

      </div>

    </div>
  </div>
</div>
<%= render 'shared/footer' %>
